In [1]:
import pandas as pd
# pd.set_option('max_colwidth', 50)
# set this if you need to
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import requests

### Import csv to dataframe

In [11]:
quotes = pd.read_csv('../data/quotes.csv', parse_dates=True)
visitors = pd.read_csv('../data/visitors.csv', parse_dates=True)

### Let's take a look at these datasets

In [12]:
print quotes.shape
print visitors.shape

(64330, 5)
(59996, 8)

In [13]:
quotes.head()

   request_id  quote_id  quote_price  hired    pro_id
0           1  38912310          NaN      0    851539
1           1  38912311        210.0      0  10113954
2           1  38913628          NaN      0  13498826
3           1  38914071          NaN      0  15921289
4           1  38912344          NaN      0  14506387

In [14]:
visitors.head()

,session_date,device,category_name,sent_request,request_id,how_far,num_bedrooms,num_bathrooms
0,8/1/16,desktop,House Cleaning (One Time),1,9067.0,NaN,1 bedroom,1 bathroom
1,8/1/16,desktop,Local Moving (under 50 miles),1,12707.0,Less than 5 miles,NaN,NaN
2,8/1/16,desktop,Local Moving (under 50 miles),1,19561.0,Less than 5 miles,NaN,NaN
3,8/1/16,mobile,Local Moving (under 50 miles),1,31010.0,Less than 5 miles,NaN,NaN
4,8/1/16,mobile,Local Moving (under 50 miles),1,6887.0,11 - 20 miles,NaN,NaN

## 1. Visitors and Conversion rate
### How does the number of users change over time?

In [18]:
# Lets start by looking at how number of users across session date.
# It might also be interesting to see number of users distributed by divices and category_names
visitors.session_date.value_counts()
#.plot(x = 'Date', y = 'Population', legend = False)
#us_population.plot(x = 'Date', y = 'Population', legend = False)

8/22/16    2825
8/15/16    2791
8/1/16     2718
8/8/16     2661
8/23/16    2518
8/24/16    2495
8/9/16     2491
8/16/16    2489
8/17/16    2435
8/2/16     2428
8/25/16    2378
8/3/16     2347
8/10/16    2329
8/4/16     2249
8/18/16    2198
8/11/16    2174
8/26/16    2070
8/12/16    1910
8/5/16     1893
8/19/16    1887
8/27/16    1680
8/14/16    1649
8/28/16    1648
8/21/16    1603
8/13/16    1562
8/20/16    1535
8/6/16     1530
8/7/16     1503
Name: session_date, dtype: int64

In [21]:
pd.to_datetime(visitors.session_datetime, infer_datetime_format=True)

AttributeError: 'DataFrame' object has no attribute 'session_datetime'